@import "functions";
@import "mixins";
@import "variables";

button,
body {
    font-size: 18px;
    font-weight: 200;
    font-family: sans-serif;
    background-color: color(body);
}

a {
    color: color(link);
    &:hover {
        text-decoration: none;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: -5px 0 0 -5px;

    > * {
        margin: 5px 0 0 5px;
    }
}

@import "button";
@import "alert";
