/// <reference path="references" />

.button {
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    box-shadow: $box-shadow;

    @each $variation in $theme-variations {
        @each $theme in $themes {
            &.theme-#{$theme}#{$variation} {
                background: color(#{$theme}#{$variation}-background) linear-gradient(180deg, color(#{$theme}#{$variation}-background-gradient), color(#{$theme}#{$variation}-background)) repeat-x;
                color: color(#{$theme}#{$variation}-text);
                border: 1px solid color(#{$theme}#{$variation}-border);

                a {
                    color: color(#{$theme}#{$variation}-link);
                }

                &:hover {
                    background: color(#{$theme}#{$variation}-hover-background) linear-gradient(180deg, color(#{$theme}#{$variation}-hover-background-gradient), color(#{$theme}#{$variation}-hover-background)) repeat-x;
                    color: color(#{$theme}#{$variation}-hover-text);
                    border: 1px solid color(#{$theme}#{$variation}-hover-border);

                    a {
                        color: color(#{$theme}#{$variation}-hover-link);
                    }
                }
            }
        }
    }
}
