/// <reference path="references" />

.button {
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    box-shadow: $box-shadow;

    @each $theme in $themes {
        &.theme-#{$theme} {
            background: color(#{$theme}-default-background) linear-gradient(180deg, color(#{$theme}-default-background-gradient), color(#{$theme}-default-background)) repeat-x;
            color: color(#{$theme}-default-text);
            border: 1px solid color(#{$theme}-default-border);

            a {
                color: color(#{$theme}-link);
            }

            &:hover {
                background: color(#{$theme}-default-hover-background) linear-gradient(180deg, color(#{$theme}-default-hover-background-gradient), color(#{$theme}-default-hover-background)) repeat-x;
                color: color(#{$theme}-default-hover-text);
                border: 1px solid color(#{$theme}-default-hover-border);

                a {
                    color: color(#{$theme}-default-hover-link);
                }
            }
        }
    }
}
